@import 'src/index.scss';

h2 {
    color: $base-color;
}

.tabWrapper {
    padding-left: 2em;

.tabHead {
    display: flex;
    color: $base-color;
    justify-content: space-between;
    border-bottom: 1px solid $base-color;
    
    .tabHeadItem {
        width: 100%;
        padding: 0 .5em;
    }
}

.datarow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dataitem {
        color: $base-col-grey;
        list-style-type: none;
        padding: 1em .5em;
        width:100%;
    }

    &:nth-child(even) {
        background-color: rgb(209, 220, 236);
    }
}
}